[submodule "credited-consumer"]
	path = credited-consumer
	url = https://github.com/lucas-salves/credited-consumer.git
[submodule "banking-challenge-invoice-schedule"]
	path = banking-challenge-invoice-schedule
	url = https://github.com/lucas-salves/banking-challenge-invoice-schedule.git
